<h3>Merci pour votre achat de €!</h3>
<p>Voici le recapitulatif: </p>

    <% @items = Cartorder.where(order_id: last_order.id) %>
    <% sum = 0 %>
    <% @items.each do |item| %>
        <% sum = ( item.quantity * item.price ) + sum %>
    <% end %>
    <h3 class="orders-show-list-subtitle"> Commande du <%= last_order.created_at.to_s.chop.chop.chop.chop.chop.chop.chop %> (total : <%= sum %> €)</h3>
        <table>
            <tr>
                <td class="orders-show-list-item-image-box orders-show-list-columnnames"></td>
                <td class="orders-show-list-item-title-box orders-show-list-columnnames"></td>
                <td class="orders-show-list-item-quantity-box orders-show-list-columnnames">Quantité</td>
                <td class="orders-show-list-item-price-box orders-show-list-columnnames">Prix</td>
            </tr>
        <% @items.each do |item| %>
            <tr>
                <td class="orders-show-list-item-image-box"><%= image_tag("photos/#{item.image_url}", class:"orders-show-list-item-image") %></td>
                <td class="orders-show-list-item-title-box"><%= item.title %></td>
                <td class="orders-show-list-item-quantity-box"><%= item.quantity %></td>
                <td class="orders-show-list-item-price-box"><%= item.price %></td>
            </tr>
        <% end %>
    </table>
