<div class="login-signin-container">
    <div class="login-signin-form">        
        <h2 class="form-title">Modification du profil</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-element">
                <%= f.label "Prénom", class: "form-element-label" %><br />
                <%= f.text_field :firstname, autocomplete: "firstname", placeholder:"Entrez votre prénom", class: "form-element-field" %>
            </div>

            <div class="form-element">
                <%= f.label "Nom", class: "form-element-label" %><br />
                <%= f.text_field :lastname, autocomplete: "lastname", placeholder:"Entrez votre nom", class: "form-element-field" %>
            </div>

            <div class="form-element">
                <%= f.label "E-mail", class: "form-element-label" %><br />
                <%= f.email_field :email, autocomplete: "email", placeholder:"Entrez votre e-mail", class: "form-element-field" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>En attente de confirmation pour : <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-element">
                <%= f.label "Nouveau mot de passe", class: "form-element-label"  %>
                <% if @minimum_password_length %>
                    (<%= @minimum_password_length %> caractères minimum)
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", placeholder:"Entrez votre nouveau mot de passe", class: "form-element-field" %>
            </div>

            <div class="form-element">
                <%= f.label "Confirmation du nouveau mot de passe", class: "form-element-label" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Entrez votre nouveau mot de passe", class: "form-element-field" %>
            </div>

            <div class="form-element">
                <%= f.label "Mot de passe actuel", class: "form-element-label" %><br />
                <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"Entrez votre mot de passe actuel", class: "form-element-field" %>
            </div>

            <div class="form-button">
                <%= f.submit "Enregistrer", class:"button" %></br>
            </div>
            <%= link_to "Supprimer le compte", registration_path(resource_name), data: { confirm: "Etes vous sur ?" }, method: :delete %>
        <% end %>    
    </div>
</div>