<div class="login-signin-container">
    <div class="login-signin-form">
        <h2 class="form-title">Enregistrement</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-element">
                <%= f.label "Prénom", class: "form-element-label" %><br />
                <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", placeholder:"Entrez votre prénom", class: "form-element-field" %>
            </div>

            <div class="form-element">
                <%= f.label "Nom", class: "form-element-label" %><br />
                <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname", placeholder:"Entrez votre nom", class: "form-element-field" %>
            </div>

            <div class="form-element">
                <%= f.label "E-mail", class: "form-element-label" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Entrez votre e-mail", class: "form-element-field" %>
            </div>

            <div class="form-element">
                <%= f.label "Mot de passe", class: "form-element-label" %>
                <% if @minimum_password_length %>
                    (<%= @minimum_password_length %> caractères minimum)
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", placeholder:"Entrez votre mot de passe", class: "form-element-field" %>
            </div>

            <div class="form-element">
                <%= f.label "Confirmation du mot de passe", class: "form-element-label" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Entrez votre mot de passe", class: "form-element-field" %>
            </div>

            <div class="form-button">
                <%= f.submit "S'enregistrer", class:"button" %>
            </div>
        <% end %>

        <div class="form-element">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>