.cart-show-container
{
    margin-top: 60px;
    margin-bottom: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-show-list
{
    width: 70%;
    padding: 30px 35px;
    border: 1px solid $text;
    border-radius: 3px;
}

.cart-show-list-title
{
    margin-top: 0px;
}

.cart-show-list-columnnames
{
    padding-bottom: 9px;
}

.cart-show-list-item-image-box
{
    min-width: 50px;
}

.cart-show-list-item-image
{
    width: 35px;
    height: 35px;
    border: 0px;
    padding: 0px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px $background2;
}

.cart-show-list-item-title-box
{
    width: 90%;
}

.cart-show-list-item-quantity-box
{
    min-width: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-show-list-item-quantity-icon
{
    padding: 0px 9px;
    width: 12px;
    height: 12px;
}

.cart-show-list-item-price-box
{
    min-width: 110px;
    text-align: center;
}

.cart-show-list-item-delete-box
{
    min-width: 35px;
    text-align: right;
}

.cart-show-list-item-delete-icon
{
    width: 25px;
    height: 25px;
}

.cart-show-list-bottomline
{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-show-list-bottomline-right
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


@media all and (max-width: 650px)
{
    .cart-show-list-item-quantity-box
    {
        min-width: 50px;
    }

    .cart-show-list-item-price-box
    {
        min-width: 60px;
    }
}