.wrapper
{
    background-color: $background;
}

.container
{
    width: 100%;
    margin: 0 auto;
}

.page-content
{
    min-height: 67.75vh;
}

body
{
    font-family: 'PT Sans', sans-serif;
    color: $text;
    cursor: default;
}

a
{
    color: $text;
    text-decoration: none;
}

.return
{
    margin: 12px 5px;
}

.return:hover
{
    text-decoration: underline;
}