.items-show-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: -70px;
}

.show-container-right
{
    margin-left: 80px;
    width: 400px;
}

.show-photo
{
    width: 420px;
    height: 420px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px $background2;
}

.show-title
{
}

.show-description
{
}

.show-price
{
    margin-top: 26px;
    margin-bottom: 60px;
    font-style: italic;
}

@media all and (max-width: 1024px)
{
    .items-show-container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-bottom: -50px;
    }

    .show-container-right
    {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .show-title
    {
        margin-top: 30px;
    }

    .show-price
    {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .show-container-right
    {
        margin-bottom: 50px;
    }
}