.items-index-container
{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


@media all and (max-width: 1400px)
{
    .selector-box
    {
        left: 68%;
        width: 228px;
    }
}

@media all and (max-width: 1024px)
{
    .selector-box
    {
        left: 37%;
    }
}