.orders-show-container
{
    margin-top: 60px;
    margin-bottom: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orders-show-list
{
    width: 70%;
    padding: 30px 30px 30px 35px;
    border: 1px solid $text;
    border-radius: 3px;
}

.orders-show-list-title
{
    margin-top: 0px;
}

.orders-show-list-subtitle
{
    margin-top: 70px;
}

.orders-show-list-columnnames
{
    padding-bottom: 9px;
}

.orders-show-list-item-image-box
{
    min-width: 50px;
}

.orders-show-list-item-image
{
    width: 35px;
    height: 35px;
    border: 0px;
    padding: 0px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px $background2;
}

.orders-show-list-item-title-box
{
    width: 90%;
}

.orders-show-list-item-quantity-box
{
    min-width: 110px;
    text-align: center;
}


.orders-show-list-item-price-box
{
    min-width: 110px;
    text-align: center;
}


@media all and (max-width: 650px)
{
    .orders-show-list-item-quantity-box
    {
        min-width: 50px;
    }

    .orders-show-list-item-price-box
    {
        min-width: 60px;
    }
}