.login-signin-container
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-signin-form
{
    width: 350px;
    padding: 25px;
    border: 1px solid $text;
    border-radius: 5px;
}

.delete-button
{
    margin-top: 8px;
}