<div class="login-signin-container">
    <div class="login-signin-form">
        <h2 class="form-title">Mot de passe oublié ?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-element">
                <%= f.label "E-mail", class: "form-element-label" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Entrez votre e-mail", class: "form-element-field" %>
            </div>

            <div class="form-button">
                <%= f.submit "Envoyer les instructions", class:"button" %>
            </div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
</div>