<div class="orders-show-container">
    <div class="orders-show-list">
        <h2 class="orders-show-list-title">Commandes passées</h2>

        <% @orders.each do |order| %>
            <% @items = Cartorder.where(order_id: order.id) %>
            <% sum = 0 %>
            <% @items.each do |item| %>
                <% sum = ( item.quantity * item.price ) + sum %>
            <% end %>

            <h3 class="orders-show-list-subtitle"> Commande du <%= order.created_at.to_s.chop.chop.chop.chop.chop.chop.chop %> (total : <%= sum %> €)</h3>
                <table>
                    <tr>
                        <td class="orders-show-list-item-image-box orders-show-list-columnnames"></td>
                        <td class="orders-show-list-item-title-box orders-show-list-columnnames"></td>
                        <td class="orders-show-list-item-quantity-box orders-show-list-columnnames">Quantité</td>
                        <td class="orders-show-list-item-price-box orders-show-list-columnnames">Prix</td>
                    </tr>
                <% @items.each do |item| %>
                    <tr>
                        <td class="orders-show-list-item-image-box"><%= image_tag("photos/#{item.image_url}", class:"orders-show-list-item-image") %></td>
                        <td class="orders-show-list-item-title-box"><%= item.title %></td>
                        <td class="orders-show-list-item-quantity-box"><%= item.quantity %></td>
                        <td class="orders-show-list-item-price-box"><%= item.price %></td>
                    </tr>
                <% end %>
            </table>
        <% end %>
    </div>
</div>