
<div class="login-signin-container">
    <div class="login-signin-form">
        <h2 class="form-title">Connexion</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-element">
            <%= f.label "E-mail", class: "form-element-label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Entrez votre e-mail", class: "form-element-field" %>
        </div>

        <div class="form-element">
            <%= f.label "Mot de passe", class: "form-element-label" %><br />
            <%= f.password_field :password, autocomplete: "current-password", placeholder:"Entrez votre mot de passe", class: "form-element-field" %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="form-element">
            <%= f.check_box :remember_me %>
            <%= f.label "Se souvenir de moi" %>
            </div>
        <% end -%>

        <div class="form-button">
            <%= f.submit "Se connecter", class:"button" %>
        </div>
        <% end %>

        <div class="form-element">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>