<%= form_with(model: cartcontent, local: true) do |form| %>
  <% if cartcontent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cartcontent.errors.count, "error") %> prohibited this cartcontent from being saved:</h2>

      <ul>
      <% cartcontent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
