<p id="notice"><%= notice %></p>

<h1>Cartcontents</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cartcontents.each do |cartcontent| %>
      <tr>
        <td><%= link_to 'Show', cartcontent %></td>
        <td><%= link_to 'Edit', edit_cartcontent_path(cartcontent) %></td>
        <td><%= link_to 'Destroy', cartcontent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cartcontent', new_cartcontent_path %>
