<div class="cart-show-container">
    <div class="cart-show-list">
        <h2 class="cart-show-list-title">Panier</h2>
            <table>
                <tr>
                    <td class="cart-show-list-item-image-box cart-show-list-columnnames"></td>
                    <td class="cart-show-list-item-title-box cart-show-list-columnnames"></td>
                    <td class="cart-show-list-item-quantity-box cart-show-list-columnnames">Quantité</td>
                    <td class="cart-show-list-item-price-box cart-show-list-columnnames">Prix</td>
                    <td class="cart-show-list-item-button-box cart-show-list-columnnames"></td>
                </tr>
                <% @cartcontent.each do |cartitem|%>
                    <tr>
                        <td class="cart-show-list-item-image-box"><%= link_to (image_tag "photos/#{Item.find(cartitem.item_id).image_url}", class:"cart-show-list-item-image"), item_path(cartitem.item_id)  %></td>
                        <td class="cart-show-list-item-title-box"><%= link_to "#{Item.find(cartitem.item_id).title}", item_path(cartitem.item_id)  %></td>
                        <td class="cart-show-list-item-quantity-box">
                            <%= link_to (image_tag "icons/down.png", class: "cart-show-list-item-quantity-icon"), remove_path(cartitem), method: :post %>
                            <p><%= cartitem.quantity %></p>
                            <%= link_to (image_tag "icons/up.png", class: "cart-show-list-item-quantity-icon"), add_path(cartitem), method: :post %>
                        </td>
                        <td class="cart-show-list-item-price-box"><p><%= Item.find(cartitem.item_id).price %> €</p></td>
                        <td class="cart-show-list-item-delete-box">
                            <div>
                                <%= link_to (image_tag "icons/delete.png", class: "cart-show-list-item-delete-icon"), cartcontent_path(cartitem.id), method: :delete %>
                            </div>
                        </td>
                    </tr>
                <% end %>
            </table>
        <div class="cart-show-list-bottomline">          
            <p></p>
            <%= form_tag orders_path(current_user) do %>
              <article>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
                <label class="amount">
                    <span><%= "Payer: #{@sum} €" %></span>
                </label>
              </article>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-locale="auto"></script>
            <% end %>
        </div>
    </div>
</div>






 