<!-- Banner -->
<section class="banner">
    <h1 class="banner-title">Bienvenue sur le site des miaous à bas prix !</h1>
    <p class="banner-text">Ici tu trouveras de quoi dépenser ton pognon durement gagné dans ton travail d'employé, et vieux jte le dis acheter un miaou c'est méga mieux que zoner à Chatelet et finir avec une bougie pomme-canelle de chez Maison du Monde. Alleer, fais toi plaisir !</p>
</section>

<!-- left: 70%; -->


<!-- Banner selector -->
<div class="selector-box">
    <p>Catégorie :</p>
    <div class="selector selector-title-box">
        <p class="selector-title"><%= @current_category %></p>
    
        <div class="selector-content">
            <% if @current_category == "Tous" %>
                <%= link_to "Tous", items_path, method: :get, class: "selector-content-current" %>
            <% else %>
                <%= link_to "Tous", items_path, method: :get %>
            <% end %>
            <% Category.all.each do |category| %>
                <% if @current_category == category.name %>
                    <%= link_to category.name, items_path(category.id), method: :get, class: "selector-content-current" %>
                <% else %>
                    <%= link_to category.name, items_path(category.id), method: :get %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>


<!-- Cards -->
<section class="items-index-container">
    <% @item.each do |item|%>
        <div class="card">
            <%= link_to item_path(item.slug) do  %>
                <%= image_tag "photos/#{item.image_url}", class:"card-image"%>
                <div class="card-price-container">
                    <%= image_tag "icons/star-shape-price.png", class:"card-price-icon"%>
                    <p class="card-price-text"><%= item.price %> €</p>
                </div>
            <% end %>
        </div>
    <% end %>
</section>
