<div class="items-show-container">
    <%= image_tag "photos/#{@item.image_url}", class:"show-photo"%>
    <div class="show-container-right">
        <h2 class="show-title"><%= @item.title %></h2>
        <p class="show-description"><%= @item.description %></p>
        <p class="show-price"><%= @item.price %> €</p>
        <%= button_to "Ajouter au panier", cartcontents_path(@item), :params => {:item_id => @item.id}, class: "button" %>
        <div class="return">
            <%= link_to "Retour", "/", method: :get %>
        </div>
    </div>
</div>
