.banner
{
    width: 70%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 12px 20px;
    border: 1px solid transparent;
    border-radius: 7px;
    text-align: center;
}

.banner-title
{
    font-size: 1.7em;
}

.banner-text
{
    font-size: 1.2em;
    line-height: 1.5em;
}