.button
{
    padding: 5px 8px;
    background-color: $text;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    color: $background;
    cursor: Pointer;
}

.button:hover
{
    background-color: $background;
    border: 1px solid $text;
    color: $text;
    transition: all  0.5s ease;
}

.button-invert
{
    padding: 5px 8px;
    background-color: $background;
    border: 1px solid $text;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    color: $text;
    cursor: Pointer;
}

.button-invert:hover
{
    background-color: $text;
    border: 1px solid $text;
    color: $background;
    transition: all  0.5s ease;
}