.card
{
    width: 210px;
    height: 210px;
    margin: 27px;
    padding: 0px;
    border: 0px;
    border-radius: 3px;
    transition: all 0.15s ease;
}

.card-image
{
    width: 100%;
    height: 100.1%;
    border-radius: 3px;
    filter: brightness(0.9);
}

.card-price-container
{
    position: absolute;
    width: 75px;
    height: 75px;
    transform: translate(140px, -45px) rotate(10deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-price-icon
{
    width: 100%;
    height: 100%;
    opacity: 0;
}

.card-price-text
{
    text-align: center;
    top: 50%;
    transform: translate(0px, -62px);
    color: transparent;
}

.card:hover
{
    transform: scale(1.16);
    box-shadow: 0px 0px 15px $card-selected;
    filter: brightness(1);
    transition: all 0.15s ease;
}

.card:hover .card-price-icon
{
    opacity: 1;
    transition: all 0.25s ease;
    transition-delay: 0.1s;
}

.card:hover .card-price-text
{
    color: $text;
    transition: all 0.25s ease;
    transition-delay: 0.1s;
}

