.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    right: 0px;
    background-color: $text;
    border: 1px solid $text;
    border-radius: 3px;
    box-shadow: 0px 0px 4px $background2;
    min-width: 180px;
    box-shadow: $background;
    z-index: 1;
}

.dropdown-content a
{
    color: $background;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all  0.15s ease;
}

.dropdown-content a:hover
{
    background-color: $background;
    color: $text;
    transition: all  0.15s ease;
}

.dropdown:hover .dropdown-content
{
    display: block;
}