.footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 15px 30px;
    background-color: $background2;
}

.footer-left
{
    width: 218px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

.footer-left-text
{
}

.footer-left-link:hover
{
    filter: opacity(70%);
    transition: all  0.25s ease;
}

.footer-right
{
    width: 100px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-right-icon
{
    width: 25px;
    height: 25px;
    filter: brightness(0.97);
    cursor: pointer;
}

.footer-right-item:hover
{
    filter: opacity(70%);
    transition: all  0.25s ease;
}