.form-title
{
    margin-top: 0px;
}

.form-element
{
    margin-top: 10px;
}

.form-element-label
{
    line-height: 1.8em;
}

.form-element-field
{
    width: 250px;
    padding: 8px;
    border: 0px;
    border-radius: 10px;
    font-size: 0.9em;
    color: $background;
    outline: none;
}

.form-button
{
    margin-top: 30px;
    margin-bottom: 20px;
}