.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 40px;
}

.header-left
{
    width: 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-left-logo
{
    width: 33px;
    height: 33px;
}

.header-left-title
{
    font-size: 1.6em;
    font-weight: bold;
}

.header-left:hover
{
    filter: opacity(70%);
    transition: all  0.25s ease;
}

.header-right
{
    width: 77px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-right-icon-cart
{
    width: 27px;
    height: 27px;
    cursor: pointer;
    filter: brightness(0.97);
}

.header-right-icon-cart-count
{
    position: absolute;
    transform: translate(13px, -35px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $card-selected;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 0.9em;
}

.header-right-icon-dropdown
{
    width: 24px;
    height: 24px;
    cursor: pointer;
    filter: brightness(0.97);
}

.header-right-item:hover .header-right-icon-box
{
    filter: opacity(70%);
    transition: all  0.25s ease;
}

.header-right-item:hover .header-right-icon-cart-count
{
    filter: brightness(0.91);
    transition: all  0.25s ease;
}