.notice
{
    position: fixed;
    margin: 0 38%;
    top: 45px;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    background-color: $card-selected;
    font-size: 1.2em;
    transition: all  0.5s ease;
    filter: opacity(95%);
}