.selector-box
{
    position: relative;
    left: 75%;
    width: 218px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.selector
{
    position: relative;
    display: inline-block;
}

.selector-title-box
{
    width: 108px;
    height: 30px;
    padding: 0px 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $text;
    border: 1px solid $text;
    border-radius: 3px;
    box-shadow: 0px 0px 4px $background2;
    color: $background;
}

.selector-title
{
    margin-top: 5px;
}

.selector-content
{
    display: none;
    position: absolute;
    transform: translate(-7px, -42px);
    width: 120px;
    background-color: $text;
    border: 1px solid $text;
    border-radius: 3px;
    box-shadow: 0px 0px 4px $background2;
    z-index: 1;
}

.selector-content a
{
    color: $background;
    padding: 5px 6px;
    text-decoration: none;
    display: block;
    transition: all  0.15s ease;
}

.selector-content a:hover
{
    background-color: $background;
    color: $text;
    transition: all  0.15s ease;
}

.selector:hover .selector-content
{
    display: block;
}

.selector-title-box:hover
{
    box-shadow: 0px 0px 4px transparent;
}

.selector-content-current
{
    font-weight: bold;
}