<footer class="footer">
    <div class="footer-left">
        <p class="footer-left-text">©MiaouShop</p>
        <%= link_to "Contactez-nous", "mailto:bonjour@thehackingproject.org", class:"footer-left-link" %>
    </div>
    <div class="footer-right">
        <div class="footer-right-item">
            <%= link_to (image_tag "icons/facebook.png", class: "footer-right-icon"), "http://www.facebook.com", target: "_blank" %>
        </div><div class="footer-right-item">
            <%= link_to (image_tag "icons/instagram.png", class: "footer-right-icon"), "http://www.instagram.com", target: "_blank" %>
        </div><div class="footer-right-item">
            <%= link_to (image_tag "icons/twitter.png", class: "footer-right-icon"), "http://www.twitter.com", target: "_blank" %>
        </div>
    </div>
</footer>