<header class="header">

    <div class="header-left">
        <%= link_to (image_tag "icons/logo.png", class: "header-left-logo"), "/" %>
        <%= link_to "MiaouShop", "/", class:"header-left-title" %>
    </div>
    <div class="header-right">
        <div class="header-right-item">
            <% unless current_user == nil %>
                <%= link_to(cartcontent_path(current_user)) do %>
                    
                    <div class="header-right-icon-box">
                        <%= image_tag "icons/cart.png", class: "header-right-icon-cart"  %>
                    </div>
                    <% @cartcount = 0 %>
                    <% Cartcontent.where(user_id: current_user).each do |item| %>
                        <% @cartcount = item.quantity + @cartcount %>
                    <% end %>
                    <% unless @cartcount == 0 %>
                        <div class="header-right-icon-cart-count">
                            <p><%= @cartcount %></p>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="header-right-item">
            <div class="dropdown">
                <div class="header-right-icon-box">
                    <%= image_tag "icons/menu.png", class: "header-right-icon-dropdown" %>
                </div>
                <div class="dropdown-content">
                    <% if user_signed_in? %>
                        <%= link_to "Commandes passées", order_path(current_user) %>
                        <%= link_to "Modifier le profil", edit_user_registration_path(current_user) %>
                        <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
                    <% else %>
                        <%= link_to "Se connecter", new_user_session_path %>
                        <%= link_to "S'enregistrer", new_user_registration_path %>
                    <% end%>
                </div>
            </div>
        </div>
    </div>
</header>
