<!DOCTYPE html>
<html>
	<head>
		<title>Miaou Shop</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<meta property="og:title" content="Miaou Shop" />
    <meta property="og:url" content="https://miaoushop.herokuapp.com/" />
    <meta property="og:description" content="Ici tu trouveras de quoi dépenser ton pognon durement gagné dans ton travail d’employé, et vieux acheter un miaou c’est franchement mieux que zoner à Chatelet et finir avec une bougie pomme-canelle de chez Maison du Monde." />
    <meta property="og:image" content="<%= image_path 'icons/logo.png' %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body class="wrapper container">

		<!-- Header -->
        <%= render "layouts/header" %>

		<!-- Messages -->
		<div class="notice">
			<%= notice %>
			<%= alert %>
		</div>

		<!-- Section -->
        <div class="page-content">
			<%= yield %>
		</div>

        <!-- footer -->
        <%= render "layouts/footer" %>
	</body>
</html>
